@page "/datepicker"

<h3>Datepickers</h3>

<EditForm Model="@_exampleModel" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />

    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="name" @bind-value="@name" />
            <label for="name">Name</label>
            @code {
                string name = "Welison";
            }
        </div>
    </div>
    <div class="row mt-m-20">
        <div class="col s12">
            <code>@name</code>
        </div>
    </div>

    <Datepicker Lang="en">
        <TextMask Pattern="00-00-0000">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" @bind-value="_exampleModel.Birthdate" id="birthdate" class="validate" />
                    <label for="birthdate">Datepicker Modal Default</label>
                </div>
            </div>
            <div class="row mt-m-20">
                <div class="col s12">
                    <code>@_exampleModel.Birthdate</code>
                </div>
            </div>
        </TextMask>
    </Datepicker>

    <Datepicker Lang="pt-BR" OpenOn="click">
        <TextMask Pattern="00-00-0000">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" @bind-value="_exampleModel.Birthdate2" id="birthdate2" class="validate" />
                    <label for="birthdate2">Datepicker Modal Open On Click</label>
                </div>
            </div>
            <div class="row mt-m-20">
                <div class="col s12">
                    <code>@_exampleModel.Birthdate2</code>
                </div>
            </div>
        </TextMask>
    </Datepicker>

    <Datepicker Type="flatpickr">
        <TextMask Pattern="00-00-0000">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" @bind-value="_exampleModel.Birthdate3" id="birthdate3" class="validate" placeholder="Data" />
                    <label for="birthdate3">Datepicker Inline Default</label>
                </div>
            </div>
            <div class="row mt-m-20">
                <div class="col s12">
                    <code>@_exampleModel.Birthdate3</code>
                </div>
            </div>
        </TextMask>
    </Datepicker>

    <Datepicker Type="flatpickr" OpenOn="click">
        <TextMask Pattern="00-00-0000">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" @bind-value="_exampleModel.Birthdate4" id="birthdate4" class="validate" />
                    <label for="birthdate4">Datepicker Inline  Open On Click</label>
                </div>
            </div>
            <div class="row mt-m-20">
                <div class="col s12">
                    <code>@_exampleModel.Birthdate4</code>
                </div>
            </div>
        </TextMask>
    </Datepicker>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <ValidationSummary />

</EditForm>

@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JSRuntime

@code {
    public class ExampleModel
    {
        [Required]
        public string Birthdate { get; set; }

        [Required]
        public string Birthdate2 { get; set; }

        [Required]
        public string Birthdate3 { get; set; }

        [Required]
        public string Birthdate4 { get; set; }
    }

    ExampleModel _exampleModel = new ExampleModel();

    protected override void OnInitialized()
    {
        _exampleModel.Birthdate = "06-01-1987";
        _exampleModel.Birthdate2 = "06-01-1987";
        _exampleModel.Birthdate3 = "06-01-1987";
        _exampleModel.Birthdate4 = "06-01-1987";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<string>("M.updateTextFields");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}