@page "/"

    <EditForm Model="@_exampleModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <InputText @bind-Value="_exampleModel.Name" class="form-control" />
        </div>

        <div>
            <Datepicker Lang="en" OpenOn="click">
                <TextMask Pattern="00-00-0000">
                    <InputText @bind-Value="_exampleModel.Birthdate" class="form-control" inputmode="numeric" />
                </TextMask>
            </Datepicker>
            @_exampleModel.Birthdate
        </div>

        <div>
            <Datepicker Lang="en">
                <InputText @bind-Value="@dat" class="form-control" inputmode="numeric" />
            </Datepicker>
            @code {
                string dat;
            }

        </div>

        <div>
            <Datepicker Type="flatpickr" OpenOn="click">
                <TextMask Pattern="00-00-0000">
                    <InputText @bind-Value="_exampleModel.Birthdate2" class="form-control" />
                </TextMask>
            </Datepicker>
            @_exampleModel.Birthdate2
        </div>

        <div>
            <TextMask Pattern="#.##0,00" Reverse="true">
                <InputText @bind-Value="_exampleModel.Number" class="form-control" />
            </TextMask>
            @_exampleModel.Number
        </div>

        <div>
            <label>
                <input type="checkbox" />
                <span>Red</span>
            </label>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <a class="waves-effect waves-light btn">button</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
        <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

    </EditForm>

@code {
    private ExampleModel _exampleModel = new ExampleModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}